.page {
    @media (max-width: 1200px) {
        .container {
            width: 100%;
            padding: 0 20px;
        }
        .benefits {
            &__title {
                font-size: 3.5rem;
                line-height: 40px;
            }
            &__subtitle {
                font-size: 1.6rem;
                line-height: 30px;
            }
        }
        .request {
            &__wrapper {
                padding: 30px 40px;
            }
            &__title {
                width: 40%;
                font-size: 3.5rem;
                line-height: 40px;
            }
            &__line {
                margin: 0 28px;
            }
            &__descr {
                font-size: 1.6rem;
                line-height: 30px;
            }
            &__form {
                &_left {
                    width: 60%;
                }
                &_right {
                    width: 35%;
                }
            }
        }
        .faq {
            &__title {
                width: 85%;
                font-size: 3.5rem;
                margin: 0;
            }
            &__line {
                margin: 0 28px 0 28px;
            }
            &__descr {
                font-size: 2rem;
            }
        }
        .info {
            &__left {
                margin-right: 30px;
            }
            &__center {
                width: 45%;
                margin-right: 30px;
            }
            &__block {
                width: calc(33% - 5px);
                div {
                    line-height: 15px;
                }
            }
            &__right {
                a {
                    font-size: 2.5rem;
                    line-height: 0;
                }
                div {
                    font-size: 1.4rem;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .navbar {
            &__item {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .request {
            &__title {
                width: 35%;
            }
            .btn.request__btn {
                padding: 18px 70px;
            }
        } 
        .faq {
            &__title {
            }
            &__line {
                margin: 0 10px;
            }
        }
        .contacts {
            &__blocks {
            width: 85%;
            }
        }
        
    }
    @media (max-width: 950px) {
        .navbar {
            padding: 15px 0;
            &__contacts {
                display: none;
            } 
        }
        .header {
            margin-top: 69px;
            &__ribbon {
                top: 30px;
                right: -30px;
                padding: 11px 9px 11px 22px;
                font-weight: bold;
                color: #fff;
                background:#00B4E3;
                border-radius: 5px 0px 0px 5px;
                &::before {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-color: transparent;
                    bottom: -30px;
                    border-width: 0 0 30px 30px;
                    border-left-color: #0099C1;
                    right: 0px;
                    left: auto;
                }
            }
        }
        .benefits {
            padding: 70px 0;
            &__cards {
                row-gap: 10px;
            }
            &__card {
                width: calc(50% - 5px);
            }
        }
        .request {
            padding: 70px 0;
            &__wrapper {
                padding: 20px 30px;
            }
            &__title {
                width: 50%;
            }
            &__line {
                margin: 0 15px;
            }
            &__descr {
                font-size: 1.4rem;
                line-height: 20px;
            }
            &__form {
                margin-top: 30px;
                &_right {
                    p {
                        margin-top: 25px;
                        line-height: 15px;
                    }
                }
            }
            .btn.request__btn {
                width: 100%;
                padding: 18px 40px;
            }
        }
        .faq {
            padding: 70px 0;
            &__title {
                line-height: 40px;
            }
            &__descr {
                font-size: 1.6rem;
                line-height: 25px;
            }
        }
        .contacts {
            &__wrapper {
                flex-direction: column;
            }
            &__title {
                font-size: 3.5rem;
                line-height: 25px;
            }
            &__line {
                transform: rotate(90deg);
            }
            &__blocks {
                width: 100%;
            }
            &__item {
                width: calc(33% - 5px);
                text-align: center;
            }
        }
        .info {
            &__wrapper {
                flex-direction: column;
            }
            &__left {
                text-align: center;
                margin-right: 0;
            }
            &__center {
                margin-top: 30px;
                width: 100%;
                margin-right: 0;
                text-align: center;
            }
            &__block {
                div {
                    margin-bottom: 15px;
                    line-height: 20px;
                }
            }
            &__right {
                margin-top: 30px;
                text-align: center;
                div {
                    
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 768px) {
        ._anim-items {
            transform: translate(0px, 0px);
            opacity: 1;
        }
        .navbar {
            &.sticky {
                padding: 10px 0;
            }
            &__menu {
                margin: 0;
                padding: 0 20px 70px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                top: 0px;
                right: 0px;
                width: 100vw;
                height: calc(100vh + 20px);
                background: #3B3D46;
                z-index: 8888;
                opacity: 0;
                transform: translateX(-100%);
                transition: all .3s ease;
            }
            &__menu.active {
                margin-top: -20px;
                justify-content: center;
                align-items: center;
                opacity: 1;
                transform: translateX(0);
                transition: all .3s ease;
            }
            &__item {
                margin: 20px 0;
                color :#00B4E3;
                font-size: 2.5rem;
                &:hover {
                    &::before {
                        display: none;
                    } 
                }
            }
            .burger {
                display: block;
                position: relative;
                width: 25px;
                height: 20px;
                z-index: 9999;
                cursor: pointer;
                &.active::before {
                    background-color:#00B4E3;;
                    transform: rotate(45deg);
                    top: 9px;
                }
                &.active::after {
                    background-color:#00B4E3;;
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                &.active span {
                    transform: scale(0);
                }
                &::before, &::after {
                    content: '';
                    background-color: #00B4E3;;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;
                }
                span {
                    background-color: #00B4E3;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: 9px;
                    left: 0;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    transform: scale(1);
                }
                &::before {
                    top: 0px;
                }
                &::after {
                    bottom: 0;
                }
            }
            &__tel {
                display: block;
            }
            &__consult {
                display: none;
            }
        }
        .header {
            margin-top: 63px;
            &__block {
                width: auto;
                padding: 40px 30px 70px;
            }
            &__title {
                font-size: 4rem;
                line-height: 45px;
            }
            &__subtitle {
                line-height: 50px;
            }
            &__wrapper {
                margin-top: 25px;
                row-gap: 15px;
            }
            &__item {
                &_text {
                    font-size: 1.4rem;
                    line-height: 22px;
                }
            }
            &__ribbon {
                display: none;
            }
        }
        .benefits {
            &__title {
                font-size: 3rem;
            }
            &__card {
                &_title {
                    font-size: 1.8rem;
                    line-height: 22px;
                }
            }
        }
        .request {
            &__title {
                width: 64%;
                font-size: 3rem;
            }   
            &__form {
                flex-direction: column;
                &_left {
                    width: 100%;
                }
                &_right {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        width: calc(50% - 10px);
                        margin-top: 25px;
                        line-height: 15px;
                    }
                }
            }
            .btn.request__btn {
                width: calc(50% - 10px);
                margin-top: 25px;
                padding: 18px;
            }
        }
        .faq {
            &__title {
                width: 90%;
                font-size: 3rem;
            }
        }
        .contacts {
            &__item {
                &_descr {
                   &::before {
                       display: none;
                   }
                }
            } 
        }
    }
    @media (max-width: 650px) {
        .header {
            &__wrapper {
                flex-direction: column;
            }
            &__item {
                width: 100%;
            }
            .btn.header__btn {
                margin-top: 30px;
                width: 100%;
                padding: 20px;
            }
        }
        .benefits {
            &__cards {
                display: none;
            }
            &__slider {
                margin-top: 30px;
                overflow: visible;
                display: block;
                width: 100%;
            }
            &__card {
                width: 100%;
                height: 270px;
                overflow: hidden;
            }
            .swiper-pagination {
                bottom: -40px;
                span {
                    background-color: #00B4E3;
                }
            }
        }
        .request {
            &__wrapper {
                padding: 20px 15px;
            }
            &__top {
                flex-direction: column;
            }
            &__title {
                width: 100%;
                text-align: center;
            }
            &__line {
              
                transform: rotate(90deg);
            }
            &__descr {
                text-align: center;
            }
        }
        .faq {
            &__top {
                flex-direction: column;
            }
            &__title {
                width: 100%;
                text-align: center;
            }
            &__line {
                height: 60px;
                transform: rotate(90deg);
            }
            &__descr {
                text-align: center;
            }
            &__accardeon {
                margin-top: 25px;
            }
            &__item {
                &_descr {
                    padding: 0px 30px;
                }
                &_input {
                    &:checked ~ {
                        .faq__item_descr {
                            padding: 30px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
        .contacts {
            &__blocks {
                flex-direction: column;
                align-items: center;
            }
            &__item {
                width: 100%;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                &_descr {
                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
    @media (max-width: 480px) {
        .container {
            padding: 0 15px;
        }
        .header {
            background: linear-gradient(180deg, #FFFFFF 43.21%, rgba(255, 255, 255, 0) 100%), #F1F7F8;
            &__block {
                padding: 30px 0 60px;
                background: inherit;
            }
            &__title {
                font-size: 2.4rem;
                line-height: 29px;
            }
            &__subtitle {
                display: none;
            }
            &__wrapper {
                margin-top: 30px;
                row-gap: 20px;
            }
            &__item {
                &_text {
                    margin-left: 15px;
                }
            }
            .btn.header__btn {
                padding: 17px;
            }
        }
        .benefits {
            &__title {
                font-size: 2rem;
                line-height: 28px;
            }
            &__line {
                width: 40px;
                margin: 15px auto;
            }
            &__subtitle {
                font-size: 1.4rem;
                line-height: 22px;
            }
            .slider {
                margin-top: 30px;
            }
            &__cards {
                margin: 0;
            }
            &__card {
                padding: 15px;
                &_icon {
                    margin-right: 15px;
                }
                &_title {
                    font-size: 1.6rem;
                    line-height: 26px;  
                }
                &_descr {
                    li {
                        font-size: 1.4rem;
                        line-height: 22px;
                    }
                }
            }
        }
        .request {
            padding: 20px 0 30px;
            .container {
                padding: 0;
            } 
            &__wrapper {
                padding: 30px 15px 20px;
                border-radius: 0;
            }
            &__title {
                text-align: left;
                font-size: 2rem;
                line-height: 28px;
            }
            &__line {
                height: 40px;
                margin: 15px auto 15px 20px;
            }
            &__descr {
                font-size: 1.4rem;
                line-height: 22px;
                text-align: left;
            }
            &__form {
                &_left {
                    row-gap: 15px;
                    input {
                        width: 100%;
                    }
                }
                &_right {
                    margin-top: 15px;
                    flex-direction: column;
                    .btn.request__btn {
                        margin: 0;
                        width: 100%;
                        padding: 17px;
                    }
                    p {
                        margin-top: 15px;
                        width: 100%;
                    }
                }
            }
        }
        .faq {
            &__title {
                font-size: 2rem;
                line-height: 28px;
                text-align: left;
            }
            &__line {
                height: 40px;
                margin: 15px auto 15px 20px;
            }
            &__descr {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 22px;
                text-align: left;
            }
            &__accardeon {
                margin-top: 30px;
            }
            &__item {
                &_title {
                    font-size: 1.6rem;
                    line-height: 26px;
                    padding: 10px 15px 10px 50px;
                }
                &_plus {
                    top: 25px;
                    left: 10px;
                    width: 30px;
                    height: 30px;
                    &::before {
                        height: 1.5px;
                        width: 15px;
                    }
                    &::after {
                        width: 1.5px;
                        height: 15px;
                    }
                }
                &_descr {
                    padding: 0px 10px;
                }
                &_input {
                    &:checked ~ {
                        .faq__item_descr {
                            padding: 20px 10px;
                            font-size: 1.4rem;
                            line-height: 22px;
                        }
                    }
                }
            }
            
        }
        .contacts {
            padding: 0 0 30px;
            &__title {
                font-size: 2rem;
                line-height: 28px;
            }
            &__line {
                margin: 10px 0;
            }
            &__item {
                &_descr {
                    margin: 0 auto;
                    width: 70%;
                    line-height: 24px;      
                }
            }
        }
        .info {
            padding: 30px 0;
            &__descr {
                font-size: 1.2rem;
                line-height: 20px;
            }
            &__center {
                flex-direction: column;
            }
            &__block {
                margin-bottom: 10px;
                width: 100%;
                div {
                    font-size: 1.6rem;
                    line-height: 26px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__right {
                margin-top: 25px;
                a {
                    font-size: 2.4rem;
                    line-height: 32px;
                }
            }
        }
        .footer {
            padding: 20px 0;
            &__descr {
                font-size: 1.2rem;
                line-height: 18px;
            }
        }
    }
}
